In [2]:
fruits=["mango","apple","chiku","banana","graphes"]
print(fruits)

['mango', 'apple', 'chiku', 'banana', 'graphes']

In [4]:
fruits.pop()
print(fruits)

['mango', 'apple', 'chiku', 'banana']

In [6]:
fruits.append("orange")
print(fruits)

['mango', 'apple', 'chiku', 'banana', 'orange']

In [8]:
fruits_tuple = ('mango','apple','chiku','banana','graphes')
print(fruits_tuple)

('mango', 'apple', 'chiku', 'banana', 'graphes')

In [16]:
cars={"Name":"BMW","Color":"Blue","Type":"Hybrid"}
print(dict)

{'car': 'BMW', 'col': 'Blue', 'type': 'Hybrid'}

In [26]:
print(cars['Name'])

BMW

In [30]:
print(cars['Name'],cars['Color'],cars['Type'])

BMW Blue Hybrid

In [34]:
cars.values()

dict_values(['BMW', 'Blue', 'Hybrid'])

In [38]:
cars.keys()

dict_keys(['Name', 'Color', 'Type'])

In [44]:
set= {"red", "green" ,"red"}  
print(set)

{'green', 'red'}

In [72]:
def even_no():
    for i in range (0,51):
        if(i%2==0):
            print(i)

In [74]:
even_no()

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [116]:
var= "PES Modern College of Enginneing Pune"
print(var)

PES Modern College of Enginneing Pune

In [130]:
vowels=['a','e','i','o','u']
def convar():
    results=''
    text=var.lower()
    for i in text:
        if i not in vowels:
            results+=i
    print(results)

In [132]:
convar()

ps mdrn cllg f ngnnng pn

In [126]:

num = int(input("Enter a number to print its table: "))

limit = int(input("Enter how many multiples you want: "))

print(f"\nTable of {num}:")
for i in range(1, limit + 1):
    print(f"{num} x {i} = {num * i}")

Enter a number to print its table:  2
Enter how many multiples you want:  10

Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [134]:
print(type(5))

<class 'int'>

In [136]:
print(type(a))

<class 'set'>

In [158]:
class Dog:
    attr1 = "mammal"

    def __init__(self,name):
        self.name=name

    def speak(self):
        print("My name is {}" .format(self.name))

In [162]:
Tommy=Dog("Tiger")
Tommy.speak()

My name is Tiger

In [7]:
class Parent:
    def __init__(self, name, roll_no):
        self.name = name
        self.roll_no = roll_no

    def speak(self):
        print("Name of the student is:", self.name)
        print("Roll number of the student is:", self.roll_no)

class Child:
    def __init__(self, name, roll_no, age, salary):
        super().__init__(name, roll_no)
        self.age = age
        self.salary = salary

    def speak(self):
        super().speak()
        print("Age of the student is:", self.age)
        print("Salary of the student is:", self.salary)


name = input("Enter the student's name: ")
roll_no = int(input("Enter the roll number: "))
age = int(input("Enter the age: "))
salary = float(input("Enter the salary: "))


s = Student(name, roll_no, age, salary)
s.speak()

Enter the student's name:  Vishwajeet
Enter the roll number:  44
Enter the age:  21
Enter the salary:  1000000.0

NameError: name 'Student' is not defined